<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
</head>
<body>
<div align="center">
    <h2>Customer Registration</h2>
    <form action="#" th:action="@{/wallet/save}" th:object="${chargeWallet}" method="post">
        <label>Customer Id: </label>
        <input type="text" th:field="*{customerId}"/><br><br>
        <label>Amount: </label>
        <input type="text" th:field="*{amount}"/><br><br>

        <button type="submit">Charge</button>
    </form>
</div>
</body>
</html>