<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Expert Registration</title>
</head>
<body>
<div align="center">
    <h2>Expert Registration</h2>
    <form action="#" th:action="@{/users/expertRegister}" th:object="${user}" method="post">
        <label>firstname: </label><br>
        <input type="text" th:field="*{firstname}"/><br>
        <label>lastname: </label><br>
        <input type="text" th:field="*{lastname}"/><br>
        <label>email: </label><br>
        <input type="text" th:field="*{email}"/><br>
        <label>username: </label><br>
        <input type="text" th:field="*{username}"/><br>
        <label>password: </label><br>
        <input type="password" th:field="*{password}"/><br>
        <label>image link: </label><br>
        <input type="text" th:field="*{imageLink}"/><br><br>

        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>