<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>FindAll Services</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>
<body>
<div align="center">
    <h2>Services</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
        <tr th:each="service : ${serviceList}">
            <td class="align-middle" th:text="${service.id}"></td>
            <td class="align-middle" th:text="${service.description}"></td>
        </tr>
    </table>
</div>
</body>
</html>