<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Main Menu</title>
</head>
<body>
<div align="center">
    <h2>Main menu</h2>
    <a th:href="@{/users/adminMenu}"> Admin Menu </a><br><br>
    <a th:href="@{/users/customerMenu}"> Customer Menu </a><br><br>
    <a th:href="@{/users/expertMenu}"> Expert Menu </a><br><br><br><br><br><br><br><br><br><br><br>
    <h2>Registration Menu</h2>
    <a th:href="@{/users/saveAdmin}">admin registration </a><br><br>
    <a th:href="@{/users/customerRegister}">customer registration </a><br><br>
    <a th:href="@{/users/expertRegister}">expert registration </a><br><br>
    <a th:href="@{/role/save}">role registration </a><br><br>


</div>
</body>
</html>