<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>take A SubService</title>
</head>
<body>
<div align="center">
    <h2>take A SubService</h2>
    <form action="#" th:action="@{/subService/takeASubService}" th:object="${expertIdAndSubServiceId}" method="post">
        <label>Expert Id: </label>
        <input type="text" th:field="*{expertId}"/><br><br>
        <label>SubService Id: </label>
        <input type="text" th:field="*{subServiceId}"/><br><br>

        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>